@import "./node_modules/v-calendar-scheduler/scss/variables";

// Set your custom variables
$v-cal-event-bg: rgba(54, 54, 54, 0.638); // Event background color
$v-cal-event-border-radius: 10px; // Events border radius (all 4 corners)
$v-cal-days-head-color: white;