.book {
  width: 159px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(77, 77, 77, 0.25);
    color: #E7A356;
    margin-right: 5rem;

    span {
        position: absolute;
        width: 54px;
        height: 24px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
        font-family: 'Fira Sans';
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        text-transform: capitalize;
    }

    @media (max-width: 768px) {
      .book {
        font-size: 12px;
        padding: 10px;
        margin-right: 0rem;
      }
    }

}
